[Unit]
Description=Autostart service for Duktig
After=duktig-updater.service

[Service]
WorkingDirectory=/home/seard/client/duktig/
ExecStart=sudo node server.js
#Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=duktig
User=root
Group=root

[Install]
WantedBy=multi-user.target
