[Unit]
Description=Autostart service for Duktig-updater
After=network-online.target

[Service]
WorkingDirectory=/home/seard/Desktop/duktig-proj/install/
ExecStart=./update.sh
Type=oneshot
StandardOutput=journal
StandardError=journal
SyslogIdentifier=duktig-updater
User=root
Group=root

[Install]
WantedBy=multi-user.target
